* {margin: 0; padding: 0; box-sizing: border-box; }
html, body { 
    background: #000; 
    width: 100vw; height: 100vh; 
    overflow: hidden; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
#myCanvas {
    aspect-ratio: 16/9;
    width: 100vw; height: 100vh;
    max-width: 1920px; max-height: 1080px;
    background: #111;
}
